
- content_for :content do
  #container.container-fluid
    .content
      %h1 Events
      %section#list

      %form
        %input{ type: 'text', placeholder: 'Title', name: 'title', id: 'title' }
        %a{ id: 'create' } create
