
- content_for :content do
  #container.container-fluid
    .content.eventportal
      %h1
        Events
        %a{ id: 'update', class: 'btn btn-default' } update

      %form.form-inline
        %input{ type: 'text', placeholder: 'Title', name: 'title', id: 'title', class: 'form-control' }
        %a{ id: 'create', class: 'btn btn-primary' } create

      %section#eventlist
