// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#eventportal {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  #eventlist {
    li {
      margin: 1em 0;
    }
    i {
      font-size: 1.3em;
      color: #c0c0c0;
      padding: 0 2em 0 0.15em;
      &.attending,
      &.invited {
        color: #0044FF;
      }
    }
  }
  dl {
    margin-bottom: 0;
    dt {
      display: inline;
      font-weight: normal;
    }
    dd {
      display: inline;
      padding: 0 1em;
    }
    input {
      display: inline;
      width: 2.5em;
    }
  }

}
